@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Employees</title>
<h1>Employees Portal</h1>
<div class="row" background="~/Back.jpeg">
    <div class="col-4">
        <main class="d-flex flex-nowrap">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                <a asp-action="Index" asp-controller="Admins">
                    Admins
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Create" asp-controller="BuildSystems">
                            Build System
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Details" asp-controller="BuildSystems">
                            View Your System
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-action="Create" asp-controller="Assets">
                            Request Asset
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-action="Details" asp-controller="Assets">
                            Assets In Your Possession
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-action="Create" asp-controller="Tickets">
                            Create Ticket
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-action="Details" asp-controller="Tickets">
                            Your Tickets
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <img src="~/System.jpg" style='height: 177px; width: 284px' />
                <p>Build System</p>
            </div>
            <br />
            <br />
            <div class="col-4">
                <img src="~/view system.jpg" style='height: 177px; width: 284px' />
                <p>View System</p>
            </div>
            <br />
            <div class="col-4">
                <img src="~/Assets.jpg" />
                <p>Request Asset</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/AssetsP.jpg" style='height: 177px; width: 284px' />
                <p>Assets in your possesion</p>
            </div>
            <br />
            <br/>
            <div class="col-4">
                <img src="~/tickets.jpg" style='height: 177px; width: 284px' />
                <p>Create Ticket</p>
            </div>
            <br />
            <div class="col-4">
                <img src="~/return.jpg" style='height: 177px; width: 284px' />
                <p>Your Tickets</p>
            </div>
        </div>
    </div>
</div>

